@use "../abstracts/functions" as f;
@use "../abstracts/breakpoints" as b;

footer {
  --space: #{f.rem(4)};
  @include b.breakpoint(md) {
    --space: #{f.rem(20)};
  }
  //   border: 1px solid red;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-block: var(--body-padding);
  gap: var(--space);

  @include b.breakpoint(md, max-width) {
    flex-direction: column;
  }
  div[aria-hidden="true"] {
    align-self: stretch;
    height: 100%;
    width: f.rem(2);
    background-color: #d9dedf;
    border-radius: 100vmax;
    opacity: 0.2;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: f.rem(9);
  }
}
