@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes backgroundfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.02;
  }
}
@keyframes changeBackground {
  0% {
    background-color: var(--primary);
  }
  100% {
    background-color: var(--secondary);
  }
}
