@use "../abstracts/functions" as f;
@use "../abstracts/breakpoints" as b;

.body {
  // margin-block-end: var(--margin);
  // border: 1px solid blue;
}

.main__section {
  display: flex;
  flex-direction: column;
  gap: var(--margin);
  margin-top: var(--margin);
}

.cards {
  display: flex;
  gap: f.rem(30);
  justify-content: space-between;

  > * {
    flex: 1;
    flex-basis: f.rem(350);
  }

  @include b.breakpoint(md, max-width) {
    flex-wrap: wrap;
    gap: f.rem(50);
  }

  @include b.breakpoint(lg) {
    gap: f.rem(40);
  }

  &__card {
    display: flex;
    flex-direction: column;
    gap: f.rem(26);
    height: 100%;
    padding: var(--body-padding);
    background-color: var(--bg-semi-dark);
    border-radius: var(--general-b-radius);
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.display {
  display: flex;
  flex-direction: column;
  gap: var(--margin);
  &__div {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, 1fr);
    align-items: center;

    gap: f.rem(20);

    @include b.breakpoint(md, max-width) {
      grid-auto-flow: row !important;
      align-items: flex-start;
      gap: f.rem(50);
    }
  }

  &__div:nth-of-type(2) {
    div:first-of-type {
      @include b.breakpoint(md) {
        grid-column: 2 / 3;
      }
      @include b.breakpoint(md) {
        p {
          text-align: end;
        }
      }
    }
  }
  &__text {
    // font-size: f.rem(30);
    @include b.breakpoint(800px) {
      font-size: clamp(#{f.rem(27.4576)}, 0.7vw + 1.5rem, #{f.rem(40)});
    }
    line-height: 1.4;
  }
  &__box {
    width: 100%;
    @include b.breakpoint(md) {
      max-width: f.rem(480);
    }

    > button {
      margin-top: f.rem(44);
    }
    &__rect {
      display: block;
      // min-height: f.rem(200);
      height: fit-content;
      max-width: calc(100vw - var(--body-padding) * 2);

      background-color: var(--bg-semi-dark) !important;
      border-radius: var(--general-b-radius) !important;
      margin: 0;

      box-shadow: 0px 0px 100px 50px rgba(96, 217, 251, 0.1);
      font-size: 1rem !important;

      &--secondary {
        box-shadow: 0px 0px 100px 50px rgba(255, 230, 102, 0.1);
      }
    }

    &__result {
      position: relative;
      border: 1px solid var(--white);
      min-height: f.rem(40);
      border-radius: var(--general-b-radius);
      background-color: var(--bg-dark);
      padding: var(--body-padding);
      margin-top: f.rem(20);
      transform: translateY(-150%);
      opacity: 0;
      z-index: -1;
      overflow: auto;
    }
  }
}
