@use "../abstracts/breakpoints" as b;
@use "../abstracts/variables" as v;
@use "../abstracts/functions" as f;

html {
  scroll-padding-top: calc(
    var(--header-height) + var(--docs-section-padding-block-start)
  );

  @include b.breakpoint(md, max-width) {
    scroll-padding-top: calc(
      var(--header-height) + (var(--docs-section-padding-block-start) * 2.4)
    );
  }
}

body {
  color: var(--white);
  background-color: var(--bg-dark);
  font-family: var(--ff-primary);

  &::-webkit-scrollbar {
    width: f.rem(12);
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 f.rem(2) var(--grey);
    border-radius: f.rem(10);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--bg-semi-dark);
    border-radius: f.rem(10);
    box-shadow: inset 0 0 f.rem(8) var(--white);
  }
}

::selection {
  color: var(--bg-dark);
  background-color: var(--primary);
}

::marker {
  color: currentColor;
}

#__next {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

table {
  border-collapse: collapse;
  td,
  th {
    padding: 1rem;
    border: 1px solid var(--dark-grey);
    min-width: f.rem(245);
  }
  th {
    text-align: left;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
