@use "../abstracts/functions" as f;
@use "../abstracts/breakpoints" as b;

.container {
  $w: #{f.rem(1024)};
  width: 100%;
  max-width: $w;
  margin-inline: auto;

  @include b.breakpoint($w, max-width) {
    padding-inline: var(--body-padding);
  }
}

.clickable {
  cursor: pointer;
}

.small {
  font-size: f.rem(14);
}
.medium {
  font-size: f.rem(16);
}

.scrollbar {
  &::-webkit-scrollbar {
    width: f.rem(10);
    @include b.breakpoint(sm, max-width) {
      width: f.rem(7);
    }
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 f.rem(2) var(--grey);
    border-radius: f.rem(10);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--bg-semi-dark);
    border-radius: f.rem(10);
    box-shadow: inset 0 0 f.rem(8) var(--white);
  }
  &::-webkit-scrollbar-corner {
    display: none;
  }
}

.mb-10 {
  margin-block-end: f.rem(10);
}

.cl-grey {
  color: var(--grey);
}
// Hides content and makes it only available to screen readers.
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
