@use "../abstracts/functions" as f;
@use "../abstracts/breakpoints" as b;

.container {
  $w: #{f.rem(1024)};
  width: 100%;
  max-width: $w;
  margin-inline: auto;

  @include b.breakpoint($w, max-width) {
    padding-inline: var(--body-padding);
  }
}

.clickable {
  cursor: pointer;
}

.small {
  font-size: f.rem(14);
}
.medium {
  font-size: f.rem(16);
}
.d-grid {
  display: grid;
}
.rm-margin-top {
  margin-block-start: 0 !important;
}
.rm-margin-bottom {
  margin-bottom: 0 !important;
}

.fw-semi-bold {
  font-weight: 600;
}

.overflow-auto {
  overflow: auto;
  @include b.breakpoint(md, max-width) {
    width: calc(100vw - (var(--body-padding) * 2));
  }
}

.warning {
  background-color: hsla(50, 100%, 70%, 0.1);
  border: 1px solid var(--secondary);
  border-radius: var(--general-b-radius);
  padding: f.rem(8);
  font-size: f.rem(16);
  margin-bottom: f.rem(24);

  &__title {
    display: block;
    color: var(--primary);
  }
}

.active-nav-link {
  color: var(--primary) !important;
}
.active-sidebar-link {
  color: var(--white) !important;
}

.mt-10 {
  margin-block-start: f.rem(10);
}
.mb-10 {
  margin-block-end: f.rem(10);
}
.mt-24 {
  margin-top: f.rem(24);
}

.cl-grey {
  color: var(--grey);
}

.cl-primary {
  color: var(--primary);
}

.scrollbar {
  &::-webkit-scrollbar {
    width: f.rem(10);
    @include b.breakpoint(sm, max-width) {
      width: f.rem(7);
    }
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 f.rem(2) var(--grey);
    border-radius: f.rem(10);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--bg-semi-dark);
    border-radius: f.rem(10);
    box-shadow: inset 0 0 f.rem(8) var(--white);
  }
  &::-webkit-scrollbar-corner {
    display: none;
  }
}

// Hides content and makes it only available to screen readers.
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
