@use "../abstracts/functions" as f;
@use "../abstracts/breakpoints" as b;

.container {
  $w: #{f.rem(1024)};
  width: 100%;
  max-width: $w;
  margin-inline: auto;

  @include b.breakpoint($w, max-width) {
    padding-inline: var(--body-padding);
  }
}

.clickable {
  cursor: pointer;
}

.small {
  font-size: f.rem(14);
}

// Hides content and makes it only available to screen readers.
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
